<!DOCTYPE html>
<html  lang="ro">
    <head>
        <meta name="keywords" content="bijuterii, inele, brățări, cercei, piercinguri, pandantive, medalioane, argint, pietre semiprețioase, onix, ametist, livrare rapidă, retur gratuit, transport gratuit la peste 200 ron, gotic, gotice, handmade, oțel inoxidabil, reglabile, gothic, alternativ, livrare în toată țara, rock, punk, negru, gravură, Killstar, Darkstar, Alchemy Gothic, Demonia, Cleopatra, Living Dead Souls"><!--cuvintele cheie ale paginii; majoritatea motoarelor de căutare ignoră keywords -->
        <meta name="description" content="La PlagueStore gasesti bijuterii inedite in stil gotic care cu siguranta iti vor ">
        
        <title>PlagueStore - home</title>
        <%- include("../fragmente/head") %>     
        <link href="/resurse/css/produs.css" type="text/css" rel="stylesheet" />
        <script type="text/javascript" src=/resurse/js/produse.js></script>
    </head>
    <body class="pagina">
    <%- include("../fragmente/header") %>
    <main>
        <section>
            <h2>Pagină produs</h2>
                <article id="art-produs">
                    <h3><span class="nume"><%- locals.prod.nume %></span></h3>
                    <p>Pret: <span class="pret"><%- locals.prod.pret %> </span></p>
                    <p>Descriere: <span class="descriere"><%- locals.prod.descriere %> </span></p>
                    <p>Materiale: <span class="materiale"><%- locals.prod.materiale %> </span></p>
                    <p>Nr.Bucati: <span class="nr_bucati"><%- locals.prod.nr_bucati %> </span></p>
                    <p>Brand: <span class="brand"><%- locals.prod.brand %> </span></p>
                    <p>Tip produs: <span class="categorie"><%- locals.prod.tip_produs %> </span></p>
                    <p>Gravura custom: <span class="gravura_custom"><%- locals.prod.gravura_custom %> </span></p>
                    <p>Data adăugare: <span class="categorie"><%- locals.prod.data_adaugare %> </span></p>
                    <figure class="imag-produs">
                        <img  src="/resurse/imagini/produse/<%- locals.prod.imagine %>" alt="[imagine <%- locals.prod.nume %>]" />
                    </figure>    
                </article>
            
        </section>
    </main>

    <%- include("../fragmente/footer") %>
    </body>
</html>