<!DOCTYPE html>
<html lang="ro">
	<head>
		<title>Profil</title>
		<%- include("../fragmente/head") %>
        
		<link rel="stylesheet" type="text/css" href="/resurse/css/contact.css" />
		<% if(locals.utilizator) { %>
		<script>

			// populez inputurile din pagina de profil cu datele din tabel (incarcate prin EJS)
			window.addEventListener("DOMContentLoaded", function(){
				document.getElementById("inp-username").value="<%= locals.utilizator.username %>";
				document.getElementById("inp-username").readOnly=true;
				document.getElementById("inp-nume").value="<%= locals.utilizator.nume %>";
				document.getElementById("inp-prenume").value="<%= locals.utilizator.prenume %>";
				document.getElementById("inp-email").value="<%= locals.utilizator.email %>";
				document.getElementById("p-reintrod").remove();
				var optiuni=document.getElementById("sel-culoare").options
				for (let opt of optiuni)
					if (opt.value=="<%= locals.utilizator.culoare_chat %>")
						opt.selected=true;
			});
		</script>
		<% } %>
	</head>
	<body class="pagina">
		<header>
			<%- include("../fragmente/header") %>
		</header>
		<main>
			<% if(locals.utilizator) { %>
			<section>
				<h2>Profil</h2>
                <p>Nu e cu prajituri pe aici!</p>
				<p><%= locals.raspuns %></p>
				<img src="/<%- locals.utilizator.poza%>" alt="nu ati incarcat poza de profil" />
			</section>
			<%- include("../fragmente/formular",{action:"/profil"}) %>

		<% } else { %>
			<p>Nu sunteti logat</p>
		<% } %>
		<p><%- locals.mesaj %></p>
		
		</main>	
	<%- include("../fragmente/footer") %>
	</body>
</html>